* {
    margin: 0;
}

.link {
    text-decoration: none;
}

.filter {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(3px);
    background-color: rgba(243, 243, 243, 0.2);
}

.overlay {
    background-color: var(--overlay2);
    height: 100vh;
    width: 100%;
}



.title-proyects {
    font-size: 4rem;
    font-family: var(--fontTitle);
    color: white;
    font-weight: 600;

}


.lista-proyectos {
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.proyects-name {
    font-size: 1rem;
    color: white;
    font-family: var(--fontText);
    cursor: pointer;
    font-weight: 800;
    border: 1px white solid;
    border-radius: 10px;
    padding: 8px;
}

.proyects-name:hover {
    border: 1px var(--secondary-color) solid;
    background-color: var(--secondary-color);
}

/************************************************************** PROYECTS DEV************************************************/

.proyectsDev {
    height: 100vh;
    width: 100%;
    background-image: url('../../img/background/coding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.section-proyects {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.description-proyecto-actual {
    background-color: var(--overlay);
    border: 1px var(--fondo) solid;
    border-radius: 15px;
    padding: 15px;
    width: 80%;
}

.description-proyecto-actual p {
    color: white;
    font-weight: 200;
    font-family: var(--fontText);
    font-size: 1rem;
}

.title-list-desc {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.container-links {
    display: flex;
}



.container-repo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px white solid;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.p-repo {
    color: white;
    font-size: 1rem;
    font-family: var(--fontText);
    margin-right: 10px;
    font-weight: 600;
}

.github-icon-link-repo {
    width: 30px;
    height: 30px;
}


@media (max-width: 800px) {
    .section-proyects {
        justify-content: space-between;
    }

    .title-list-desc {
        height: auto;
    }

    .title-proyects {
        font-size: 3rem;
    }

    .lista-proyectos {
        flex-direction: column;
        width: 50%;

    }

    .proyects-name {
        font-size: 0.8rem;
        font-weight: 500;
        border-radius: 10px;
        padding: 5px;
        margin: 3px;
        text-align: center;
    }

    .description-proyecto-actual {
        border-radius: 15px;
        padding: 15px;
        width: 80%;
    }

    .description-proyecto-actual p {
        font-size: 0.9rem;
    }

    .container-links {
        flex-direction: column;
    }

    .p-repo {
        font-size: 0.8rem;
        font-weight: 200;
    }

    .github-icon-link-repo {
        width: 20px;
        height: 20px;
    }

    .react__player {
        max-width: 80%;
        max-height: 250px;
    }
}





/************************************************************** PROYECTS CHEFF************************************************/
.proyectsCheff {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    transition: 0.4s;
}

.overlay-proyectoCheff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--overlay2);
}




/*****************************SLIDER******************/
.slider-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
}

.slide {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: absolute;
    transition: 0.4s ease;
}


.arrow { 
    padding: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.container-arrows{
    display: flex;
}