* {
    margin: 0;
}

.body {
    height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: none;
  } 

.title-rol {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);

    font-family: var(--fontTitle);
    font-size: 4rem;
    color: #fff;
}

.foto-general {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);

    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.description {
    position: absolute;
    left: 10%;
    top: 60%;

    padding: 15px;
    width: 80%;
   
    background-color: var(--overlay2);
    border: 1px var(--fondo) solid;
    border-radius: 15px;
    
}

.description h2 {
    font-size: 2rem;
    font-family: var(--fontTitle);
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.description p {
    font-size: 1rem;
    font-family: var(--fontText);
    color: white;
    font-weight: 300;
}




.btn {
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 10rem;
    font-family: var(--fontTitle);
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border: #fff solid 0.2rem;
    text-transform: uppercase;
    padding: 1rem;

    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}



.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('../../img/background/coding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.split.right {
    right: 0;
    background: url("../../img/background/cook2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.container-icons-general {
    text-align: center;
}

.icon-general {
    width: 40px;
    height: 40px;
    margin: 5px;
}


@media (max-width: 1120px) and (min-width: 801px) {
    .description {
        max-height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }

}


@media (max-width: 800px) {


    .body {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .split {
        position: static;
        width: 100%;
        height: 100%;
       
    }

    .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .title-rol {
        position: static;
        font-size: 2.5rem;
        transform: translateX(0%);
    }

    .btn {
        position: static;
        padding: 1.2rem;
        width: 9rem;
        transform: translateX(0%);
       
    }

    .foto-general {
        position: static;
        width: 230px;
        height: 230px;
        transform: translateX(0%);
    }

    .description {
        position: static;

        width: 70%;
        max-height: 300px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .description h2 {
        font-size: 1rem;
    }

    .description p {
        font-size: 1rem;
    }


}