.texto {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #282c34;
}

.Banner {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
}

.titulo-banner {
    color: #282c34;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-bottom: 2px solid currentColor;
    width: 160px;
    margin: 0;
    padding: 0;

}

/*     Basico */

.container-foto-cv {
    width: 500px;
    height: 500px;
}

.foto {
    border-radius: 50%;
}

.container-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}