.header {
    position: fixed;
    height: 2vw;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}



.menu-horizontal {
    display: flex;
    justify-content: flex-end;
    font-family: var(--fontText);
    color: white;
    margin-right: 10%;
    font-weight: 200;

}


.menu-horizontal>li {
    padding: 15px 20px;
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
}

.menu-horizontal>li:hover {
    background-color: var(--secondary-color);
}

.menu-vertical {
    display: none;
    position: fixed;
    list-style: none;
    top: 37px;
    background-color: var(--fondo);
    text-transform: none;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: var(--fondo);
}

.menu-vertical li .link {
    display: block;
    padding: 15px 15px 15px 20px;
}