
.nav-style{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 0px;
padding-left: 10%;
padding-right: 10%;
background-color: #282c34;
    
}

.nombre{
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
}
.apellido{
    color:#ea1538;
}

.li-header-style{
    list-style-type:none;
    display: inline-block;
    padding:10px 20px;
}

.a-header-style {
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.a-header-style:hover{
    color:#ea1538;
    transition:.3s
}