.header {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nav-style {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;

}

.header h2 {
    color: white;
    font-size: 50px;
    font-family: var(--fontTitle);
    text-decoration: none;
}


.menu-horizontal {
    display: flex;
    justify-content: space-around;
    font-family: var(--fontText);
    color: white;
    font-weight: bold;
}


.menu-horizontal>li {
    padding: 15px 20px;
    list-style: none;
    cursor: pointer;
}

.menu-horizontal>li:hover {
    background-color: var(--secondary-color);
}

.menu-vertical {
    display: none;
    position: fixed;
    list-style: none;
    top:70px;
    background-color: var(--fondo);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: var(--fondo);
}

.menu-vertical li .link {
    display: block;
    padding: 15px 15px 15px 20px;
}