.proyectos-style {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
}


.container-preview {
    width: 860px;
    height: 550px;
}

.preview {
    width: 100%;
    height: 100%;
}



/*    ********               TITLE     **********          */

.titulo {
    font-family: var(--fontTitle);
    color: white;
    font-size: 40px;
    text-align: center;
}

.span-title-proyects {
    color: var(--secondary-color);
}



/* nav PROYECTS*/

.nav-proyects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
}

.li-proyects {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.a-proyects {
    font-family: var(--fontText);
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
}

.a-proyects:hover {
    color: var(--secondary-color);
    transition: 0.3s;
}

/*  ******************************************** */

.texto-proyect {
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    font-family: var(--fontText);
    font-weight: 700;
    color: var(--primary-color);

}

.primeraLetra {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-size: 25px;
    color: var(--secondary-color);
}

.container-descripcion {
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}