.proyectos-style {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    width: 80%;
    justify-content: flex-start;
}

.titulo {
    font-family: var(--fontTitle);
    color: white;
    font-size: 40px;
    text-align: center;
}

.container-descripcion {
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
}

.texto-proyect {
    font-size: 15px;
    font-family: var(--fontText);
    font-weight: 700;
    color: var(--primary-color);

}


.li-proyects {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.a-proyects {
    font-family: var(--fontText);
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
}

.a-proyects:hover {
    color: var(--secondary-color);
    transition: 0.3s;
}