body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #282c34;
  --secondary-color: #b94429;
  --overlay:rgba(40, 44, 52, 0.2);
  --fondo: rgba(40, 44, 52, 0.9);
  --fontTitle: 'Roboto', sans-serif;
  --fontText: 'Montserrat', sans-serif;
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  --hover-width-mobile: 85%;
  --other-width-mobile: 15%;
}


#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
